@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ProjectX.Core;
<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProjectX</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
    <app-component>Loading..</app-component>
</body>
</html>
